In [63]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd

In [64]:
from sqlalchemy import Column, Integer, String, Float

In [65]:
# Create Database Connection
# ----------------------------------
# PyMySQL 

import pymysql
pymysql.install_as_MySQLdb()

#mysql_engine = create_engine('mysql://{0}:{1}@{2}:{3}'.format(user, pass, host, port))

engine = create_engine("mysql://group06:gcP5f8UQpkW8w75G@cwru-data-project02.ciuevunbeloh.us-east-2.rds.amazonaws.com:3306/group06")
conn = engine.connect()

In [66]:
#print(engine.table_names())

In [67]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [68]:
# Use this to clear out the db
# ----------------------------------
Base.metadata.drop_all(engine)

In [69]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [70]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [71]:
#engine.execute("CREATE DATABASE group06") #create db
engine.execute("USE group06") # select new db

In [72]:
#
df1 = pd.read_pickle('merged_s_p.pkl')
df1.head()

,yearID,teamID,salary,G,GS,H,R,ER,BB,SO,L,SV,W,BAOpp,ERA
playerID,,,,,,,,,,,,,,,
boevejo01,1990,ATL,215000.0,33,0,40,23,22,35,35,3,8,1,0.252,4.68
castito02,1990,ATL,100000.0,52,3,93,41,36,20,64,1,1,5,0.302,4.23
claryma01,1990,ATL,125000.0,33,14,128,72,64,39,44,10,0,1,0.308,5.67
glavito02,1990,ATL,285000.0,33,33,232,111,102,78,129,12,0,10,0.281,4.28
greento01,1990,ATL,100000.0,5,2,14,11,11,9,4,0,0,1,0.286,8.03

In [73]:
df1.reset_index()

,playerID,yearID,teamID,salary,G,GS,H,R,ER,BB,SO,L,SV,W,BAOpp,ERA
0,boevejo01,1990,ATL,215000.0,33,0,40,23,22,35,35,3,8,1,0.252,4.68
1,castito02,1990,ATL,100000.0,52,3,93,41,36,20,64,1,1,5,0.302,4.23
2,claryma01,1990,ATL,125000.0,33,14,128,72,64,39,44,10,0,1,0.308,5.67
3,glavito02,1990,ATL,285000.0,33,33,232,111,102,78,129,12,0,10,0.281,4.28
4,greento01,1990,ATL,100000.0,5,2,14,11,11,9,4,0,0,1,0.286,8.03
5,henrydw01,1990,ATL,120000.0,34,0,41,26,24,25,34,2,0,2,0.273,5.63
6,leibrch01,1990,ATL,1000000.0,24,24,164,72,57,35,76,11,0,9,0.261,3.16
7,lillide01,1990,ATL,135000.0,12,11,75,45,43,19,34,8,0,2,0.301,6.28
8,lueckri01,1990,ATL,114000.0,36,0,73,36,34,30,35,4,1,1,0.336,5.77
9,merckke01,1990,ATL,102000.0,36,0,43,22,17,24,39,7,7,4,0.236,3.17
10,smithpe02,1990,ATL,190000.0,13,13,77,45,41,24,56,6,0,5,0.260,4.79
11,smoltjo01,1990,ATL,210000.0,34,34,206,109,99,90,170,11,0,14,0.240,3.85
12,stantmi02,1990,ATL,118000.0,7,0,16,16,14,4,7,3,2,0,0.444,18.00
13,valdese01,1990,ATL,100000.0,6,0,6,4,4,3,3,0,0,0,0.273,6.75
14,ballaje01,1990,BAL,200000.0,44,17,152,79,73,42,50,11,0,2,0.290,4.93
15,bautijo01,1990,BAL,120000.0,22,0,28,15,12,7,15,0,0,1,0.272,4.05
16,harnipe01,1990,BAL,120000.0,31,31,189,96,91,86,122,11,0,11,0.261,4.34
17,hickeke01,1990,BAL,250000.0,37,0,26,16,15,13,17,3,1,1,0.265,5.13
18,holtobr01,1990,BAL,347500.0,33,0,68,31,29,21,27,3,0,2,0.292,4.50
19,johnsda04,1990,BAL,113500.0,30,29,196,83,82,43,68,9,0,13,0.280,4.10
20,mcdonbe01,1990,BAL,241667.0,21,15,88,36,32,35,65,5,0,8,0.205,2.43
21,milacbo01,1990,BAL,235000.0,27,24,143,73,67,61,60,8,0,5,0.273,4.46
22,mitchjo02,1990,BAL,111000.0,24,17,133,63,59,48,43,6,0,6,0.300,4.64
23,olsongr01,1990,BAL,270000.0,64,0,57,20,20,31,74,5,37,6,0.213,2.42
24,pricejo02,1990,BAL,325000.0,50,0,62,29,26,24,54,4,0,3,0.253,3.58
25,schilcu01,1990,BAL,103000.0,35,0,38,13,13,19,32,2,3,1,0.229,2.54
26,smithmi05,1990,BAL,102000.0,2,0,4,4,4,1,2,0,0,0,0.308,12.00
27,telfoan01,1990,BAL,100000.0,8,8,43,22,20,19,20,3,0,3,0.295,4.95
28,tibbsja01,1990,BAL,335000.0,10,10,55,34,32,14,23,7,0,2,0.279,5.68
29,westomi01,1990,BAL,104500.0,9,2,28,20,18,6,9,1,0,0,0.322,7.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18460,wilsoju10,2017,DET,NaN,42,0,22,12,12,16,55,4,13,3,0.157,2.68
18461,wilsoju10,2017,CHN,NaN,23,0,18,11,10,19,25,0,0,1,0.254,5.09
18462,wilsoty01,2017,BAL,NaN,9,1,22,14,12,4,9,2,0,2,0.344,7.04
18463,wimmeal01,2017,MIN,NaN,6,0,8,4,4,8,7,0,0,0,0.267,4.91
18464,winklda01,2017,ATL,NaN,16,0,7,4,4,6,18,1,0,1,0.152,2.51
18465,wislema01,2017,ATL,NaN,20,1,43,31,30,13,22,1,0,0,0.323,8.35
18466,wittgni01,2017,MIA,NaN,38,0,46,22,22,13,43,1,0,3,0.277,4.68
18467,wojcias01,2017,CIN,NaN,25,8,71,48,45,19,64,3,0,4,0.287,6.50
18468,woodal02,2017,LAN,NaN,27,25,123,50,46,38,151,3,0,16,0.217,2.72
18469,woodbl01,2017,CIN,NaN,55,0,64,40,36,29,62,4,0,1,0.284,5.65
18470,woodbl01,2017,LAA,NaN,17,0,20,9,9,4,22,0,0,2,0.290,4.76
18471,woodhu01,2017,TBA,NaN,1,0,0,0,0,0,0,0,0,0,0.000,0.00
18472,woodrbr01,2017,MIL,NaN,8,8,43,23,23,14,32,3,0,2,0.259,4.81
18473,woodtr01,2017,KCA,NaN,28,3,56,33,32,20,29,3,0,1,0.329,6.91
18474,woodtr01,2017,SDN,NaN,11,11,62,44,39,25,36,4,0,3,0.295,6.71
18475,workmbr01,2017,BOS,NaN,33,0,37,17,14,11,37,1,0,1,0.252,3.18
18476,worleva01,2017,MIA,NaN,24,12,99,56,55,30,50,6,1,2,0.339,6.91
18477,wrighda04,2017,LAA,NaN,5,2,21,12,10,8,11,1,0,0,0.284,4.58
18478,wrighmi01,2017,BAL,NaN,13,0,26,16,16,7,28,0,0,0,0.265,5.76
18479,wrighst01,2017,BOS,NaN,5,5,40,24,22,5,13,3,0,1,0.377,8.25
18480,yacabji01,2017,BAL,NaN,14,0,18,10,10,14,8,0,0,2,0.247,4.35
18481,yateski01,2017,LAA,NaN,1,0,2,2,2,0,1,0,0,0,0.400,18.00
18482,yateski01,2017,SDN,NaN,61,0,42,26,23,19,87,5,1,4,0.206,3.72
18483,ynoaga01,2017,BAL,NaN,9,4,39,17,16,8,26,3,0,2,0.289,4.15
18484,ynoami01,2017,CHA,NaN,22,0,28,22,19,22,23,0,0,1,0.246,5.90
18485,youngch03,2017,KCA,NaN,14,2,47,27,25,14,22,0,0,0,0.353,7.50
18486,zastrro01,2017,CHN,NaN,4,0,19,13,12,7,11,0,0,0,0.352,8.31
18487,zieglbr01,2017,MIA,NaN,53,0,57,29,25,16,26,4,10,1,0.306,4.79
18488,zimmejo02,2017,DET,NaN,29,29,204,111,108,44,103,13,0,8,0.313,6.08
18489,zychto01,2017,SEA,NaN,45,0,30,12,12,21,35,3,1,6,0.208,2.66

In [74]:
df1.to_sql('salary_pitching',
           con = engine, 
           index = True,
           if_exists = 'replace'
)

InternalError: (pymysql.err.InternalError) (1170, "BLOB/TEXT column 'playerID' used in key specification without a key length") [SQL: 'CREATE INDEX `ix_salary_pitching_playerID` ON salary_pitching (`playerID`)'] (Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
print(engine.table_names())

In [75]:
pd.read_sql("salary_pitching", engine)

Empty DataFrame
Columns: [playerID, yearID, teamID, salary, G, GS, H, R, ER, BB, SO, L, SV, W, BAOpp, ERA]
Index: []

In [76]:
pd.read_sql("merged_s_p.pkl", engine)

Empty DataFrame
Columns: [playerID, yearID, teamID, salary, G, GS, H, R, ER, BB, SO, L, SV, W, BAOpp, ERA]
Index: []

In [77]:
df1.to_sql('salary_pitching',
           con = engine, 
           index = True,
           if_exists = 'append'
)

In [78]:
pd.read_sql("salary_pitching", engine)

,playerID,yearID,teamID,salary,G,GS,H,R,ER,BB,SO,L,SV,W,BAOpp,ERA
0,boevejo01,1990,ATL,215000.0,33,0,40,23,22,35,35,3,8,1,0.252,4.68
1,castito02,1990,ATL,100000.0,52,3,93,41,36,20,64,1,1,5,0.302,4.23
2,claryma01,1990,ATL,125000.0,33,14,128,72,64,39,44,10,0,1,0.308,5.67
3,glavito02,1990,ATL,285000.0,33,33,232,111,102,78,129,12,0,10,0.281,4.28
4,greento01,1990,ATL,100000.0,5,2,14,11,11,9,4,0,0,1,0.286,8.03
5,henrydw01,1990,ATL,120000.0,34,0,41,26,24,25,34,2,0,2,0.273,5.63
6,leibrch01,1990,ATL,1000000.0,24,24,164,72,57,35,76,11,0,9,0.261,3.16
7,lillide01,1990,ATL,135000.0,12,11,75,45,43,19,34,8,0,2,0.301,6.28
8,lueckri01,1990,ATL,114000.0,36,0,73,36,34,30,35,4,1,1,0.336,5.77
9,merckke01,1990,ATL,102000.0,36,0,43,22,17,24,39,7,7,4,0.236,3.17
10,smithpe02,1990,ATL,190000.0,13,13,77,45,41,24,56,6,0,5,0.260,4.79
11,smoltjo01,1990,ATL,210000.0,34,34,206,109,99,90,170,11,0,14,0.240,3.85
12,stantmi02,1990,ATL,118000.0,7,0,16,16,14,4,7,3,2,0,0.444,18.00
13,valdese01,1990,ATL,100000.0,6,0,6,4,4,3,3,0,0,0,0.273,6.75
14,ballaje01,1990,BAL,200000.0,44,17,152,79,73,42,50,11,0,2,0.290,4.93
15,bautijo01,1990,BAL,120000.0,22,0,28,15,12,7,15,0,0,1,0.272,4.05
16,harnipe01,1990,BAL,120000.0,31,31,189,96,91,86,122,11,0,11,0.261,4.34
17,hickeke01,1990,BAL,250000.0,37,0,26,16,15,13,17,3,1,1,0.265,5.13
18,holtobr01,1990,BAL,347500.0,33,0,68,31,29,21,27,3,0,2,0.292,4.50
19,johnsda04,1990,BAL,113500.0,30,29,196,83,82,43,68,9,0,13,0.280,4.10
20,mcdonbe01,1990,BAL,241667.0,21,15,88,36,32,35,65,5,0,8,0.205,2.43
21,milacbo01,1990,BAL,235000.0,27,24,143,73,67,61,60,8,0,5,0.273,4.46
22,mitchjo02,1990,BAL,111000.0,24,17,133,63,59,48,43,6,0,6,0.300,4.64
23,olsongr01,1990,BAL,270000.0,64,0,57,20,20,31,74,5,37,6,0.213,2.42
24,pricejo02,1990,BAL,325000.0,50,0,62,29,26,24,54,4,0,3,0.253,3.58
25,schilcu01,1990,BAL,103000.0,35,0,38,13,13,19,32,2,3,1,0.229,2.54
26,smithmi05,1990,BAL,102000.0,2,0,4,4,4,1,2,0,0,0,0.308,12.00
27,telfoan01,1990,BAL,100000.0,8,8,43,22,20,19,20,3,0,3,0.295,4.95
28,tibbsja01,1990,BAL,335000.0,10,10,55,34,32,14,23,7,0,2,0.279,5.68
29,westomi01,1990,BAL,104500.0,9,2,28,20,18,6,9,1,0,0,0.322,7.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18460,wilsoju10,2017,DET,NaN,42,0,22,12,12,16,55,4,13,3,0.157,2.68
18461,wilsoju10,2017,CHN,NaN,23,0,18,11,10,19,25,0,0,1,0.254,5.09
18462,wilsoty01,2017,BAL,NaN,9,1,22,14,12,4,9,2,0,2,0.344,7.04
18463,wimmeal01,2017,MIN,NaN,6,0,8,4,4,8,7,0,0,0,0.267,4.91
18464,winklda01,2017,ATL,NaN,16,0,7,4,4,6,18,1,0,1,0.152,2.51
18465,wislema01,2017,ATL,NaN,20,1,43,31,30,13,22,1,0,0,0.323,8.35
18466,wittgni01,2017,MIA,NaN,38,0,46,22,22,13,43,1,0,3,0.277,4.68
18467,wojcias01,2017,CIN,NaN,25,8,71,48,45,19,64,3,0,4,0.287,6.50
18468,woodal02,2017,LAN,NaN,27,25,123,50,46,38,151,3,0,16,0.217,2.72
18469,woodbl01,2017,CIN,NaN,55,0,64,40,36,29,62,4,0,1,0.284,5.65
18470,woodbl01,2017,LAA,NaN,17,0,20,9,9,4,22,0,0,2,0.290,4.76
18471,woodhu01,2017,TBA,NaN,1,0,0,0,0,0,0,0,0,0,0.000,0.00
18472,woodrbr01,2017,MIL,NaN,8,8,43,23,23,14,32,3,0,2,0.259,4.81
18473,woodtr01,2017,KCA,NaN,28,3,56,33,32,20,29,3,0,1,0.329,6.91
18474,woodtr01,2017,SDN,NaN,11,11,62,44,39,25,36,4,0,3,0.295,6.71
18475,workmbr01,2017,BOS,NaN,33,0,37,17,14,11,37,1,0,1,0.252,3.18
18476,worleva01,2017,MIA,NaN,24,12,99,56,55,30,50,6,1,2,0.339,6.91
18477,wrighda04,2017,LAA,NaN,5,2,21,12,10,8,11,1,0,0,0.284,4.58
18478,wrighmi01,2017,BAL,NaN,13,0,26,16,16,7,28,0,0,0,0.265,5.76
18479,wrighst01,2017,BOS,NaN,5,5,40,24,22,5,13,3,0,1,0.377,8.25
18480,yacabji01,2017,BAL,NaN,14,0,18,10,10,14,8,0,0,2,0.247,4.35
18481,yateski01,2017,LAA,NaN,1,0,2,2,2,0,1,0,0,0,0.400,18.00
18482,yateski01,2017,SDN,NaN,61,0,42,26,23,19,87,5,1,4,0.206,3.72
18483,ynoaga01,2017,BAL,NaN,9,4,39,17,16,8,26,3,0,2,0.289,4.15
18484,ynoami01,2017,CHA,NaN,22,0,28,22,19,22,23,0,0,1,0.246,5.90
18485,youngch03,2017,KCA,NaN,14,2,47,27,25,14,22,0,0,0,0.353,7.50
18486,zastrro01,2017,CHN,NaN,4,0,19,13,12,7,11,0,0,0,0.352,8.31
18487,zieglbr01,2017,MIA,NaN,53,0,57,29,25,16,26,4,10,1,0.306,4.79
18488,zimmejo02,2017,DET,NaN,29,29,204,111,108,44,103,13,0,8,0.313,6.08
18489,zychto01,2017,SEA,NaN,45,0,30,12,12,21,35,3,1,6,0.208,2.66

In [85]:
merged_s_p.pkl.drop(engine)

NameError: name 'merged_s_p' is not defined

In [81]:
print(engine.table_names())

['merged_s_p.pkl', 'salary_pitching']

In [84]:
inspector = inspect(engine)
print(inspector.get_table_names())

['merged_s_p.pkl', 'salary_pitching']